[submodule "material/dlt-viewer"]
	path = material/dlt-viewer
	url = https://github.com/GENIVI/dlt-viewer
[submodule "material/eclipse"]
	path = material/eclipse
	url = https://github.com/GENIVI/eclipse_install_automation
